/* © 2025 주유월 <ju@yuwol.pe.kr> */
/* SPDX-License-Identifier: Zlib */
html {
  color-scheme: light dark;
  line-height: 1.5;
  text-underline-position: under;
}
body {
  box-sizing: border-box;
  margin-block: 0 44px;
  margin-inline: auto;
  padding-inline: 8px;
  max-width: 880px;
  min-width: 400px;
}
fieldset {
  margin-block: 1.5em;
  margin-inline: 0;
}
footer {
  font-size: smaller;
  text-align: center;
}
ol,
p {
  margin-block: 0.5em;
}
li {
  margin-block: 0.25em;
}
h1,
h2 {
  margin-block: calc(1.75rem - 0.25em);
}
textarea {
  box-sizing: border-box;
  line-height: inherit;
  padding: 0.25em 0.5em;
  max-width: 100%;
}
br + textarea {
  margin-block-start: 0.25em;
}
button {
  min-width: 24px;
}
p > button {
  min-width: 44px;
}
button,
input,
textarea {
  font-family: sans-serif;
  line-height: inherit;
  font-size: smaller;
}
button,
[type=url],
[type=text],
[type=number] {
  padding: 0 0.25em;
}
[type=text],
[type=number] {
  width: 5em;
}
[type=color] {
  box-sizing: content-box;
  vertical-align: middle;
  padding: 0;
  width: 44px;
  height: 1.5em;
}
code {
  font-family: monospace, monospace;
  line-height: inherit;
  font-size: smaller;
}
hr {
  margin-block: 44px;
}
.spacing-after::after {
  content: ' ';
  white-space: pre;
}
.description {
  margin-block: 0 1.5em;
  word-break: keep-all;
}
[id=preview] {
  border: 1px solid currentColor;
  box-sizing: border-box;
  display: block;
  margin-inline: auto;
  width: 452px;
  max-width: 100%;
  height: auto;
}
.font-description {
  margin-block: 1em;
  word-break: keep-all;
}
.field-add {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.field-add > input {
  flex-grow: 1;
}
.field-add > button {
  min-width: 66px;
}
[name=message] {
  width: 100%;
  max-width: calc(2px + 32em);
}
[id=output] {
  display: block;
  font-family: monospace, monospace;
  margin-block: 0 1.5em;
  width: calc(2px + 27em);
  height: 75vh;
}
@media (min-width: 640px) {
  p:first-child {
    margin-block-start: 0;
  }
  p:last-child {
    margin-block-end: 0;
  }
  [id=generator] {
    display: grid;
    gap: 1.5em 16px;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto auto;
  }
  [id=preview] {
    grid-column: span 2;
    margin-block: 0;
  }
  .font-section {
    box-sizing: border-box;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-block: 0;
  }
  .fields {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .output-section {
    display: flex;
    gap: 0 16px;
  }
  [id=output] {
    flex-shrink: 0;
    margin-block: 0;
  }
}
@media (min-width: 880px) {
  [id=generator] {
    grid-template-columns: 452px auto;
    grid-template-rows: auto 1fr;
  }
  [id=preview] {
    grid-column: 1;
  }
  .fields {
    grid-row: 1 / 3;
  }
}
