/*
Copyright 2023 Ju Yuwol <ju@yuwol.pe.kr>
SPDX-License-Identifier: 0BSD
*/
@keyframes dot1 {
   0% { opacity: 0; }
  25% { opacity: 1; }
}
@keyframes dot2 {
   0% { opacity: 0; }
  50% { opacity: 1; }
}
@keyframes dot3 {
   0% { opacity: 0; }
  75% { opacity: 1; }
}
.dot {
  animation: 2s step-end infinite dot1;
}
.dot + .dot {
  animation-name: dot2;
}
.dot + .dot + .dot {
  animation-name: dot3;
}
.admin-description {
  font-size: 0.875rem;
}
.admin-nav {
  word-break: keep-all;
}
.admin-nav-section:not(:first-child) {
  margin-top: var(--ld);
}
.admin-nav-heading,
.admin-nav-list,
.admin-nav-item,
.admin-nav-current {
  display: inline;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.admin-nav-heading:after {
  content: ': ';
}
.admin-nav-item:not(:first-child):before {
  content: ' | ';
}
.admin-nav,
.box-pager,
#box-tablist {
  margin: var(--lh) 0;
}
.box-tab:not(:first-child) {
  margin-left: var(--hld);
}
.box-pager {
  text-align: center;
}
.box-pager-status {
  display: inline-block;
  min-width: 3em;
}
.box-heading {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: var(--hld) 12px;
  justify-content: space-between;
  font-weight: normal;
  font-size: 1rem;
}
img:not([hidden]) + .box-message {
  height: 44px;
}
.box-count {
  float: right;
  font-size: 0.875rem;
  margin-top: var(--ld);
  text-align: right;
}
.box-spoiler {
  font-size: 0.875rem;
  margin-top: 1em;
}
.submit {
  text-align: right;
}
.settings-item {
  margin: calc(var(--ld) * 1.5) 0;
}
.settings-label {
  display: flex;
  align-items: baseline;
  white-space: pre;
}
.settings-label + br {
  display: none;
}
.settings-input {
  flex-grow: 1;
  width: 44px;
}
.settings-textarea {
  font-size: 0.875rem;
  height: calc((var(--lh) * 2.5) + 2px);
}
