/* © 2023 주유월 <ju@yuwol.pe.kr> */
/* SPDX-License-Identifier: 0BSD */
html {
  --line-height: 1.5;
  --lh: calc(var(--line-height) * 1em);
  --ld: calc((var(--line-height) - 1) * 1em);
  --hld: calc((var(--line-height) - 1) * 0.5em);
  --rlh: calc(var(--line-height) * 1rem);
  --rld: calc((var(--line-height) - 1) * 1rem);
  --rhld: calc((var(--line-height) - 1) * 0.5rem);
  line-height: var(--line-height);
  font-feature-settings: 'tnum';
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
  overflow-y: scroll;
  text-size-adjust: 100%;
  text-underline-position: under;
}
html,
[data-theme=light] {
  --background-color: #fff;
  --text-color: #000;
  --link-text-color: #347;
  --link-active-text-color: #e30;
  --textbox-border-color: #888;
  --textbox-focus-border-color: #000;
  --button-background-color: #eee;
  --button-text-color: #333;
  --button-disabled-background-color: #eee;
  --button-disabled-border-color: #eee;
  --button-disabled-text-color: #555;
  --button-active-background-color: #ccc;
  --mark-background-color: #ff8;
  --mark-text-color: #000;
  --mark-text-decoration: none;
  --nav-border-color: #aaa;
  --date-text-color: #666;
  --post-border-color: #ddd;
  color-scheme: light;
}
@media (prefers-color-scheme: dark) {
  html {
    --background-color: #000;
    --text-color: #eee;
    --link-text-color: #def;
    --link-active-text-color: #fba;
    --textbox-border-color: #bbb;
    --textbox-focus-border-color: #fff;
    --button-background-color: #333;
    --button-text-color: #eee;
    --button-disabled-background-color: #222;
    --button-disabled-border-color: #222;
    --button-disabled-text-color: #bbb;
    --button-active-background-color: #555;
    --mark-background-color: inherit;
    --mark-text-color: inherit;
    --mark-text-decoration: underline;
    --nav-border-color: #777;
    --date-text-color: #ccc;
    --post-border-color: #555;
    color-scheme: dark;
  }
}
[data-theme=dark] {
  --background-color: #000;
  --text-color: #eee;
  --link-text-color: #def;
  --link-active-text-color: #fba;
  --textbox-border-color: #bbb;
  --textbox-focus-border-color: #fff;
  --button-background-color: #333;
  --button-text-color: #eee;
  --button-disabled-background-color: #222;
  --button-disabled-border-color: #222;
  --button-disabled-text-color: #bbb;
  --button-active-background-color: #555;
  --mark-background-color: inherit;
  --mark-text-color: inherit;
  --mark-text-decoration: underline;
  --nav-border-color: #777;
  --date-text-color: #ccc;
  --post-border-color: #555;
  color-scheme: dark;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}
h1,
h2,
h3 {
  word-break: keep-all;
}
h1,
h2 {
  font-size: 1.25rem;
  margin: calc(var(--rlh) + var(--rhld) - var(--hld)) 0;
}
ul,
p,
pre {
  margin: var(--lh) 0;
}
pre {
  font-size: inherit;
  font-family: inherit;
  white-space: pre-wrap;
}
button,
textarea,
[type=text],
[type=search],
[type=url],
[type=email],
[type=number] {
  border: 1px solid var(--textbox-border-color);
  line-height: inherit;
  font-family: inherit;
  margin: 0;
}
button,
[type=text],
[type=search],
[type=url],
[type=email],
[type=number] {
  font-size: 0.875rem;
}
textarea,
[type=text],
[type=search],
[type=url],
[type=email],
[type=number] {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
}
button {
  background-color: var(--button-background-color);
  border-radius: 4px;
  color: var(--button-text-color);
  padding: calc(var(--ld) * 0.25) calc(var(--ld) * 1.25);
  min-width: 44px;
}
textarea {
  box-sizing: border-box;
  display: block;
  font-size: inherit;
  padding: var(--hld) var(--ld);
  resize: vertical;
  width: 100%;
  height: calc((var(--lh) * 7.5) + 2px);
}
[type=text],
[type=search],
[type=url],
[type=email],
[type=number] {
  padding: calc(var(--ld) * 0.25) calc(var(--ld) * 0.75);
}
button:focus,
button:enabled:hover,
textarea:focus,
textarea:enabled:hover,
[type=text]:focus,
[type=text]:enabled:hover,
[type=search]:focus,
[type=search]:enabled:hover,
[type=url]:focus,
[type=url]:enabled:hover,
[type=email]:focus,
[type=email]:enabled:hover,
[type=number]:focus,
[type=number]:enabled:hover {
  border-color: var(--textbox-focus-border-color);
}
button:enabled:active {
  background-color: var(--button-active-background-color);
}
button:disabled {
  background-color: var(--button-disabled-background-color);
  border-color: var(--button-disabled-border-color);
  color: var(--button-disabled-text-color);
}
[type=checkbox],
[type=radio] {
  margin: 0;
}
label,
.label {
  display: inline-flex;
  align-items: center;
  white-space: pre;
}
time {
  word-break: keep-all;
}
mark {
  background-color: var(--mark-background-color);
  color: var(--mark-text-color);
  text-decoration: var(--mark-text-decoration);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
:link,
:visited {
  color: var(--link-text-color);
}
:link:active,
:visited:active {
  color: var(--link-active-text-color);
}
.nav :link:not(:hover):not(:focus) {
  text-decoration: none;
}
.nav :link:not(:active),
.nav :visited:not(:active) {
  color: inherit;
}
.header,
.footer {
  border: solid var(--nav-border-color);
}
.header {
  border-width: 0 0 1px;
}
.footer {
  border-width: 1px 0 0;
}
.main,
.content {
  margin: 0 auto;
  max-width: 32em;
}
.main {
  display: flex;
}
.main::before {
  content: '';
  padding-bottom: 75%;
}
.content {
  box-sizing: border-box;
  overflow: auto;
  padding: 0 12px;
}
.header-content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--hld) 12px;
  justify-content: space-between;
  padding-top: var(--ld);
  padding-bottom: var(--ld);
}
.main-content {
  width: 100%;
}
.main-content > :last-child {
  margin-bottom: calc(var(--rlh) + (var(--rld) * 2));
}
.footer-content {
  font-style: normal;
  padding-top: calc(var(--lh) * 2);
  padding-bottom: calc(var(--lh) * 2);
}
.site-title {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
.login,
theme-panel {
  font-size: 0.875rem;
  flex-grow: 1;
  margin: 0;
  text-align: right;
}
.search-header {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: var(--rld) 24px;
}
.search-header,
.search {
  margin: var(--rlh) 0;
}
.search-header > .search {
  margin: 0;
}
.search {
  display: flex;
  margin-left: auto;
  width: 100%;
  max-width: 224px;
}
.searchbox {
  flex-grow: 1;
  margin-right: calc(var(--ld) * 0.75);
  width: 1px;
}
.search-rendering .search {
  display: none;
}
.search-loading .footer {
  visibility: hidden;
}
.search-back {
  flex-grow: 1;
}
.search-back > a::before {
  content: '<< ';
}
.pager {
  margin: var(--lh) 0;
  overflow-x: auto;
}
.pager-list {
  display: flex;
  justify-content: center;
  gap: 0 var(--ld);
  margin: 0;
  padding: 0;
  text-align: center;
}
.pager-item {
  display: block;
  list-style: none;
}
.pager-item[hidden] {
  visibility: hidden;
}
.pager-item.current {
  min-width: 2em;
}
@media (min-width: 352px) {
  .pager-list .first::before {
    content: '<< ';
  }
  .pager-list .prev::before {
    content: '< ';
  }
  .pager-list .next::after {
    content: ' >';
  }
  .pager-list .last::after {
    content: ' >>';
  }
}
.post-status {
  word-break: keep-all;
}
.post-list {
  padding: 0;
}
.post-item {
  border: solid var(--nav-border-color);
  border-width: 0 0 1px;
  list-style: none;
}
.post-item:first-child {
  border-top-width: 1px;
}
.post-header {
  margin: var(--lh) 0;
}
.post-info {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0 24px;
  justify-content: space-between;
  margin: var(--lh) 0;
}
.post-title {
  margin: 0;
}
.post-setting {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: calc(var(--ld) * 0.125) 0 0;
}
.post-setting > .label-checkbox::before {
  content: ' ';
}
.post-label {
  font-size: 1rem;
  margin: 0;
}
.post-date {
  color: var(--date-text-color);
  flex-grow: 1;
  margin: 0;
  text-align: right;
}
.post-message,
.post-reply {
  border: 1px solid var(--post-border-color);
  border-radius: 4px;
  padding: var(--ld) calc(var(--ld) * 1.25);
}
[data-spoiler]:empty:not(:hover) {
  background-color: currentColor;
  color: inherit;
  text-decoration: none;
}
[data-spoiler]:empty::before {
  content: attr(data-spoiler);
}
.post-share {
  text-align: right;
}
.go-to {
  border: solid var(--nav-border-color);
  border-width: 1px 0;
  margin: 0;
  padding: var(--ld) 0;
  text-align: center;
}
.go-to + .go-to {
  border-top-width: 0;
}
